:root {
    --yellow: #ffee00;
    --white: #ffffff;
    --black: #000000;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    list-style: circle;
}
.list {
    list-style: square;
}
.light-theme {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--yellow);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .btn {
      position: absolute;
      top: 15px;
      left: 320px;
      height: 50px;
      width: 50px;
      border-radius: 60%;
      border: none;
      color: var(--btnFontColor);
      background-color: var(--btnBg);
  }